@(title: String, headerText: String, oferta: Oferta)

@Layout.basicLayout(title) {
 <div id="page">	
	<div class="container">
		<div class="cap">
			<div class="row"> 
				<div class="col-md-7">
					<div class="logos">
					    <a href="http://www.upc.edu"><img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")"></a>
					    <a href="http://www.fib.upc.edu"><img id="logofib" src="@routes.Assets.at("images/Logo_FIB.gif")"></a>
					    <span id="titol"><a href="https://raco.fib.upc.edu/"><img id="logoraco" src="@routes.Assets.at("images/logo_raco.png")"></a></span>
					</div>
				</div>
				
				<div class="col-md-5"> 	
					<div class="buscar">
						<form class="navbar-form navbar-left" role="search">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									Cercar ofertes<span class="caret"> </span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Cercar oferta de treball</a></li>
									<li><a href="#">Estudiants</a></li>
									<li><a href="#">Personal FIB</a></li>
								</ul>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Cercar">
							</div>
							<span class="glyphicon glyphicon-search"></span>	
						</form>
					</div>
				</div>
			</div>	
	
		<!-- hasta aqui hay el logo y el buscador con el boton desplegable -->

			<div class="container">	
				<div class="pestanyes">
					<div class="row">
						<ul class="nav nav-tabs nav-justified">
							<li><a href="#"><h4>home</h4></a></li>
							<li><a href="#"><h4>Asignatures</h4></a></li>
							<li><a href="#"><h4>Grups</h4></a></li>
							<li><a href="#"><h4>Gestio</h4></a></li>	
							<li class="active"><a href="#"><h4>Comunitat</h4></a></li>
							<li><a href="#"><h4>Projectes</h4></a></li>
							<li><a href="#"><h4>Serveis</h4></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	
	<!-- hasta aqui estan las fichas home asignaturas ... -->

	<div class="container">
		<div id="header">
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">WebMail</a></li>
						<li><a href="#">Fórums públics</a></li>
						<li><a href="#">Buscar conectats</a></li>
						<li><a href="#">Cercar estudiants</a></li>	
						<li class="active"><a href="#">Borsa de treball</a></li>
						<li><a href="#">Perfil</a></li>
						<li><a href="#">Candidatures</a></li>
						<li><a href="#">Gestionar convenis</a></li>
						<li><a href="#">Gestionar alertes</a></li>
					</ul>
				</div>	
				<!-- hasta aqui estan las fichas laterales ... -->	
				
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
							  <li><a href="#">Comunitat</a></li>
							  <li><a href="#">Borsa de treball</a></li>
							  <li class="active">Ofertes de treball</li>
							  <li class="active">Consulta Oferta de treball</li>
							</ol>
						</div>
					</div>

					<div class="panel panel-primary">
  						<div class="panel-heading"> <h4>Ofertes de treball | Uniplex</h4></div>
  							<div class="panel-body">
  								<div class="row">
  									<div class="col-md-8">
										<dl>
    										<dt><h3>@oferta.getTitol()</h3></dt>
    										<dd>@oferta.getEmpresa().getNom()</dd>
    									</dl>
  									</div>
  									
  									<div class="col-md-4">
  										<a class="btn btn-lg btn-success" href="#" role="button">Presentar candidatura</a>
  									</div>	
  									
  									<div class="col-md-10">
  										<dl>
	  										<dt><strong class="text-danger"><h3>Estat de la oferta</strong></h3></dt>
	  											<dd><strong>Informacio: </strong>pos eso una mierda</dd>
	  											<dd><strong>Horari: </strong></dd>
	  											<dd><strong>Localitzacio: </strong></dd>
	  											<dd><strong>Persona de contacte: </strong></dd>
	  											<dd><strong>Email: </strong></dd>
	  											<dd><strong>Data de caducitat: </strong></dd>

	  										<dt><strong class="text-danger"><h3>Requisits:</strong></h3></dt>
	  											<dd><strong>Titulació: </strong>merengue merengue</dd>
	  											<dd><strong>Experiencia: </strong></dd>
	  											<dd><strong>Idiomes: </strong></dd>

	  										<dt><strong class="text-danger"><h3>Descripció:</strong></h3></dt>
												<dd><strong>Text: </strong></dd>
													  								
	  										<dt><strong class="text-danger"><h3>Coneixements:</strong></h3></dt>
	  											<dd><strong>CODI 1 </strong></dd>
	  											<dd><strong>CODI 2 </strong></dd>
	  											<dd><strong>CODI 3 </strong></dd>
	  									</dl>	
  									</div>	
  																
  								</div>
							</div>	
						</div>
					</div>
				</div> 
	

	

 
}
