@(title: String, headerText: String, oferta: Oferta)
@import java.net.URLEncoder

@Layout.basicLayout(title, null, "Indiferent", "Indiferent", "Indiferent") {
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Comunitat</a></li>
                <li><a href="@controllers.students.offers.routes.Search.index()">Borsa de treball</a></li>
                <li class="active"><a href="@controllers.students.offers.routes.Details.viewOfferDetails( URLEncoder.encode( oferta.getEmpresa.getNom, "UTF-8" ), URLEncoder.encode( oferta.getTitol, "UTF-8" ), oferta.getId )">@oferta.getTitol</a></li>
            </ol>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Ofertes de treball | Uniplex</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-7">
                    <h1>@oferta.getTitol</h1>
                    <h2>@oferta.getEmpresa.getNom</h2>
                </div>
                <div class="col-md-5 col-sm-4 col-xs-5">
                    <img class="img-thumbnail" src="@routes.Assets.at("images/empresa/" + oferta.getEmpresa.getLogo)" alt="Logo @oferta.getEmpresa.getNom">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 pull-right">
                    <a href="#" data-toggle="tooltip" title="No implementat al prototipus!" class="btn btn-success" role="button">Presentar candidatura</a>
                </div>
            </div>
            <div class="row">
                <div id="offer_details" class="col-md-12">
                    <h3>Estat de la oferta</h3>
                    <dl>
                        <dt>Informacio</dt>
                        <dd>@oferta.getInformacioOferta</dd>
                        <dt>JornadaLaboral</dt>
                        <dd>@oferta.getJornadaLaboral</dd>
                        <dt>Persona de contacte</dt>
                        <dd>@oferta.getNomPersonaContacte</dd>
                        <dt>Email</dt>
                        <dd>@oferta.getEmailPersonaContacte</dd>
                        <dt>Data de creació</dt>
                        <dd>@oferta.getDataInsercio.format("dd/MM/yyyy")</dd>
                        <dt>Data de caducitat</dt>
                        <dd>@oferta.getDataCaducitat.format("dd/MM/yyyy")</dd>
                    </dl>
                    <h3>Coneixements requerits</h3>
                    <ul>
                        @for(coneixement <- oferta.getConeixementList) {
                            <li>@coneixement.getNom</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
