@(title: String, headerText: String, oferta: Oferta)

@Layout.basicLayout(title) {
    <div class="container">
        <div id="header">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">WebMail</a></li>
                        <li><a href="#">Fórums públics</a></li>
                        <li><a href="#">Buscar conectats</a></li>
                        <li><a href="#">Cercar estudiants</a></li>
                        <li class="active"><a href="#">Borsa de treball</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Candidatures</a></li>
                        <li><a href="#">Gestionar convenis</a></li>
                        <li><a href="#">Gestionar alertes</a></li>
                        <li><a href="#">Incidencia</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="#">Comunitat</a></li>
                                <li><a href="#">Borsa de treball</a></li>
                                <li><a href="#">Ofertes de treball</a></li>
                                <li class="active">@oferta.getTitol()</li>
                            </ol>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h4>Ofertes de treball | Uniplex</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <dl>
                                        <dt><h3>@oferta.getTitol()</h3></dt>
                                        <dd>@oferta.getEmpresa().getNom()</dd>
                                    </dl>
                                </div>

                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-success" href="#" role="button">Presentar candidatura</a>
                                </div>

                                <div class="col-md-10">
                                    <dl>
                                        <dt><strong class="text-danger"><h3>Estat de la oferta</strong></h3></dt>
                                        <dd><strong>Informacio: </strong>@oferta.getInformacioOferta()</dd><br>
                                        <dd><strong>JornadaLaboral: </strong>@oferta.getJornadaLaboral()</dd><br>
                                        <dd><strong>Localitzacio: </strong>"Barcelona"</dd><br>
                                        <dd><strong>
                                            Persona de contacte: </strong>@oferta.getNomPersonaContacte()</dd><br>
                                        <dd><strong>Email: </strong>@oferta.getEmailPersonaContacte</dd><br>
                                        <dd><strong>Data de caducitat: </strong>@oferta.getDataCaducitat</dd>

                                        <dt><strong class="text-danger"><h3>Coneixements requerits:</strong></h3></dt>
                                        

                                        @for(coneixement <- oferta.getConeixementList) {
                                            <strong>@coneixement.getNom</strong><br>
                                        }
                                        </ul>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
