@(message: String)

@Layout.basicLayout("Offer details") {
 <div id="page">	
	<div class="container">
		<div class="cap">
			<div class="row"> 
				<div class="col-md-7">
					<div class="logos">
					    <a href="http://www.upc.edu"><img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")"></a>
					    <a href="http://www.fib.upc.edu"><img id="logofib" src="@routes.Assets.at("images/Logo_FIB.gif")"></a>
					    <span id="titol"><a href="https://raco.fib.upc.edu/"><img id="logoraco" src="@routes.Assets.at("images/logo_raco.png")"></a></span>
					</div>
				</div>
				
				<div class="col-md-5"> 	
					<div class="buscar">
						<form class="navbar-form navbar-left" role="search">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									Cercar ofertes<span class="caret"> </span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Cercar oferta de treball</a></li>
									<li><a href="#">Estudiants</a></li>
									<li><a href="#">Personal FIB</a></li>
								</ul>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Cercar">
							</div>
							<span class="glyphicon glyphicon-search"></span>	
						</form>
					</div>
				</div>
			</div>	
	
		<!-- hasta aqui hay el logo y el buscador con el boton desplegable -->

			<div class="container">	
				<div class="pestanyes">
					<div class="row">
						<ul class="nav nav-tabs nav-justified">
							<li><a href="#"><h4>home</h4></a></li>
							<li><a href="#"><h4>Asignatures</h4></a></li>
							<li><a href="#"><h4>Grups</h4></a></li>
							<li><a href="#"><h4>Gestio</h4></a></li>	
							<li class="active"><a href="#"><h4>Comunitat</h4></a></li>
							<li><a href="#"><h4>Projectes</h4></a></li>
							<li><a href="#"><h4>Serveis</h4></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!-- hasta aqui estan las fichas home asignaturas ... -->

	<div class="container">
		<div id="header">
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">WebMail</a></li>
						<li><a href="#">Fórums públics</a></li>
						<li><a href="#">Buscar conectats</a></li>
						<li><a href="#">Cercar estudiants</a></li>
						<li class="active"><a href="#">Borsa de treball</a></li>
						<li><a href="#">Perfil</a></li>
						<li><a href="#">Candidatures</a></li>
						<li><a href="#">Gestionar convenis</a></li>
						<li><a href="#">Gestionar alertes</a></li>
					</ul>
				</div>	
				<!-- hasta aqui estan las fichas laterales ... -->	

				<div class="col-md-10">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
							  <li><a href="#">Comunitat</a></li>
							  <li><a href="#">Borsa de treball</a></li>
							  <li class="active">Ofertes de treball</li>
							</ol>
						</div>
					</div>

					<div class="panel panel-primary">
  						<div class="panel-heading"> <h4>Ofertes de treball | Uniplex</h4></div>
  							<div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-unstyled">
                                            <li class="nav-header">
                                                <a href="#" data-toggle="collapse" data-target="#valoresFiltroTipoOferta">
                                                    <h5><i class="glyphicon glyphicon-euro"></i> Tipo de oferta <i class="glyphicon glyphicon-chevron-down replace-class"></i></h5>
                                                </a>
                                                <ul class="list-unstyled collapse in" id="valoresFiltroTipoOferta">
                                                    <li class="active"> <a href="#">Todas <span class="badge badge-info">15</span></a></li>
                                                    <li><a href="#">Convenio prácticas <span class="badge badge-info">10</span></a></li>
                                                    <li><a href="#">Contrato de trabajo <span class="badge badge-info">5</span></a></li>
                                                </ul>
                                                <a href="#" data-toggle="collapse" data-target="#valoresFiltroJornadaLaboral">
                                                    <h5><i class="glyphicon glyphicon-time"></i> Jornada Laboral <i class="glyphicon glyphicon-chevron-down replace-class"></i></h5>
                                                </a>
                                                <ul class="list-unstyled collapse in" id="valoresFiltroJornadaLaboral">
                                                    <li class="active"> <a href="#">Todas <span class="badge badge-info">15</span></a></li>
                                                    <li><a href="#">Completa <span class="badge badge-info">10</span></a></li>
                                                    <li><a href="#">Media <span class="badge badge-info">5</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-9">				
                                    	<div class="row">				
		                                    <div class="col-md-9">
		                                    	<h4>Cercant ofertes per: "...."</h4> 
		                                    </div>
		                                    <div class="col-md-2 ">
		                                    	<a class="btn btn-lg btn-success" href="#" role="button">Crear alerta</a>
		                                    </div>
		                                </div> 
		                                
		                                <div class="row">
		                                	<div id="header">
		                                		<div class="parrafOrdenar">
		                                			<div class="col-md-8">
		                                				<p>
		                                					<strong>1</strong> a <strong>5</strong> del <strong>"total"</strong>de ofertes
		                                				</p> 
		                                			</div>

		                                			<div class="col-md-2 col-md-offset-1">
		                                				<div class="btn-group">
														    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ordenar per: <span class="caret"></span></button>
														    <ul class="dropdown-menu" role="menu">
														    	<li><a href="#">Ordenar per: </a></li>
															    	<li class="divider"></li>	
														    	<li><a href="#">Afinitat</a></li>
														      	<li><a href="#">Popularitat</a></li>
														      	<li><a href="#">Noves Ofertes</a></li>
														    </ul>
														 </div>		
		                                			</div>
		                                		</div>
		                                	</div>		
		                                </div>
		                                
		                                <div class="row">
		                                	<div class="col-md-11">
			                                	<div class="list-group">
												    
												    <a href="#" class="list-group-item ">
												    	<dl>
    														<dt><h5><strong>Desenvolupament en andoird</strong></h5></dt>
    														<dd>Estafadores Enterprise</dd>
    														<p>Barcelona</p>
    														<p>Busques becaris.........................
    														....................</p>
    														<p>Contracte de Practiques | sense experiencia | mitja jornada</p>
    													</dl>
    													<div class="logoEmpresa">
    														<img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")">
    													</div>
												    </a>



												    <a href="#" class="list-group-item">
												    	<dl>
    														<dt><h5><strong>Desenvolupament en andoird</strong></h5></dt>
    														<dd>Estafadores Enterprise</dd>
    														<p>Barcelona</p>
    														<p>Busques becaris.........................
    														....................</p>
    														<p>Contracte de Practiques | sense experiencia | mitja jornada</p>
    													</dl>
    													<div class="logoEmpresa">
															<img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")">
														</div>
												    </a>

												    <a href="#" class="list-group-item">
												    	<dl>
    														<dt><h5><strong>Desenvolupament en andoird</strong></h5></dt>
    														<dd>Estafadores Enterprise</dd>
    														<p>Barcelona</p>
    														<p>Busques becaris.........................
    														....................</p>
    														<p>Contracte de Practiques | sense experiencia | mitja jornada</p>
    													</dl>
    													<div class="logoEmpresa">
															<img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")">
														</div>
												    </a>

												    <a href="#" class="list-group-item">
												    	<dl>
    														<dt><h5><strong>Desenvolupament en andoird</strong></h5></dt>
    														<dd>Estafadores Enterprise</dd>
    														<p>Barcelona</p>
    														<p>Busques becaris.........................
    														....................</p>
    														<p>Contracte de Practiques | sense experiencia | mitja jornada</p>
    													</dl>
    													<div class="logoEmpresa">
															<img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")">
														</div>
												    </a>

												    <a href="#" class="list-group-item">
												    	<dl>
    														<dt><h5><strong>Desenvolupament en andoird</strong></h5></dt>
    														<dd>Estafadores Enterprise</dd>
    														<p>Barcelona</p>
    														<p>Busques becaris.........................
    														....................</p>
    														<p>Contracte de Practiques | sense experiencia | mitja jornada</p>
    													</dl>
    													<div class="logoEmpresa">
															<img id="logoupc" src="@routes.Assets.at("images/Logo_UPC.gif")">
														</div>
												    </a>

												</div>
											</div>	<!-- aqui es el final de la lista de ofertes tancat amb un col-md-11 -->
		                                </div> <!-- tanco la row que conte la col-11 de la lista d ofertes-->
		                                
		                                <div class="row"> <!-- una row nova per la paginacacio esta dintre del panel body-->
		                                	<div class="col-md-3"></div>
		                                	<div class="col-md-5">
		                                		<ul class="pagination">
												  	<li><a href="#">&laquo;</a></li>
												  	<li class="active"><a href="#">1</a></li>
												  	<li><a href="#">2</a></li>
												  	<li><a href="#">3</a></li>
												  	<li><a href="#">4</a></li>
												  	<li><a href="#">5</a></li>
												  	<li><a href="#">&raquo;</a></li>
												</ul>
		                                	</div>	
		                                </div>   	
		                                   	
		                                   	
		                                   	
		                                   	
		                                   		
		                            </div> 



		         
								</div>
							</div> <!-- aqui cierro el panel faltaria poner adentro la paginacion para los resultados -->
						</div>
					</div> <!-- cierre de todo el panel apartir de aqui ya no va nada -->
				</div>
			</div>
		</div>
	</div>
</div>				
}
